<div class="multi-cards" fxLayout="row" fxLayoutGap="60px">
  <div>
    <button class="sample-button" (click)="getCasesStatus()" mat-raised-button color="primary">Fetch Submitted Cases</button>
  </div>

  <div>
    <button class="sample-button" (click)="onNewCase()" mat-raised-button color="accent">Submit New Case</button>
  </div>
</div>

<div class="multi-cards">
  <div  class="multi-cards" fxLayout="row wrap" *ngIf="DbItems_submitted.length">
    <div class="small-card" *ngFor="let card of DbItems_submitted">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Case ID: {{card.id}}</mat-card-title>
        </mat-card-header>
        
        <mat-card-content>
          <mat-card-subtitle>
            Submitted: {{card.submit_time | date: 'medium'}}
          </mat-card-subtitle>
          <mat-card-subtitle>
            Status: <b>{{card.status}} </b> 
          </mat-card-subtitle>
        </mat-card-content>
        
        <mat-card-actions>
          <button [disabled]="card.status === 'SUBMITTED'" routerLink="/report1/{{card.id}}" mat-raised-button color="accent">VIEW</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>

<div class="multi-cards">
  <div  class="multi-cards" fxLayout="row wrap" *ngIf="DbItems_done.length">
    <div class="small-card" *ngFor="let card of DbItems_done">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Case ID: {{card.id}}</mat-card-title>
        </mat-card-header>
        
        <mat-card-content>
          <mat-card-subtitle>
            Submitted: {{card.submit_time | date: 'medium'}}
          </mat-card-subtitle>
          <mat-card-subtitle>
            Status: <b>{{card.status}} </b> 
          </mat-card-subtitle>
        </mat-card-content>
        
        <mat-card-actions>
          <button (click)="onViewResult(card.id)" mat-raised-button color="accent">VIEW</button>
        </mat-card-actions>
      </mat-card>
    </div>

  </div>
</div>


